.sunrise-sunset-container {
    width: 422px;
    height: auto;
    padding: 10px;
    /* border: 1px solid black; */
}

.sunrise-sunset-container > p {
    font-size: 23px;
    font-weight: bold;
    margin: 5px;
}

.sunrise {
    display: inline-block;
    height: 100px;
    width: 200px;
    padding: 10px;
    /* border: 1px solid black; */
}

.sunrise img {
    height: 82px;
    margin: 0;
    float: left;
}

.sunrise div {
    display: inline-block;
    height: 82px;
    line-height: 23px;
    padding-top: 15px;
}

.sunrise div .sunrise-label {
    font-size: 13px;
    font-weight: bold;
}

.sunrise div .time-label {
    font-size: 22px;
}
